{% extends "layout.jinja2" %}
    {% block body %}
        <main>
            <article class="post">
                <h3>{{ entry.title }}</h3>
                    <h4>{{ entry.creation_date }}</h4>
                    <p>{{ entry.body }}</p>
            </article>
            <section>
                <a class="edit" href={{ request.route_url('edit', id=id) }}>Edit Post</a>
            </section>
        </main>
    {% endblock %}