{% extends "layout.jinja2" %}
{% block body %}
    <main>
        <h3>Edit your Entry</h3>
            <article class="edit">
                <form method="POST" action="" enctype="multipart/form-data">
                <h4>Title:</h4>
                    <input type="text" name="title" value="{{ entry.title }}">
                    <textarea name="entry_body">{{ entry.body }}</textarea>
                    <input class="btn" type="submit" value="Submit">
                </form>
            </article>
    </main>
{% endblock %}