{% extends "layout.jinja2" %}

{% block body %}
    <img id="header" src={{ request.static_path('lj:static/images/Bookshelf.jpg') }}>
    <main>
        <article class="post">
            <ul>
                {% if entries %}
                    {% for key in entries %}
                        <li>
                            <h3><a href={{ request.route_url('detail', id=key) }}>{{ entries[key].title }}</a></h3>
                            <h4>Date Created: {{ entries[key].creation_date }}</h4>
                            <p>{{ entries[key].body| truncate(500) }}</p>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>    
        </article>
    </main>
{% endblock %}