{% extends "layout.jinja2" %}
{% block title %} Sera Shioda Smith - Learning Journal - Entries {% endblock %}

<html>
    <head>
        <title>Sera Shioda Smith</title>
        <link rel="stylesheet" href={{ request.static_path('learning_journal_basic:static/css/bootstrap.css')}}>
    </head>
    <body>
        <header>
            <h1><a href="{{ request.route_url('detail, id=entry.id') }}">Sera Shioda Smith{{ entry.title }}</a></h1>
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="{{ request.route_url('create') }}">New Post</a></li>
                </ul>
            </nav>
        </header>
        <body>
            {% for item in posts %}
                <a href="{{ request.route_url('detail', id=item.id) }}">{{ item.title }}</a>
                {{ item.create_date }}
                {% for tag in item.tags %}{{ tag }}, {% endfor %}
            {% endfor %}
        </body>
        <footer>
        <p>© 2016 Sera Shioda Smith. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
        </footer>
    </body>
</html>
{% endblock %}
